body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

.copyright-icon::before {
    content: "\00a9"; /* Unicode for copyright symbol */
    margin-right: 5px;
}

.social-icons-container {
 display: flex;
 justify-content: center;
 gap: 20px;
}

.icon-link {
margin-right: 10px;
font-size: 2rem;
color: white;
text-decoration: none;
}

.icon-link:hover {
color: #007bff; /* Bootstrap primary color */
 }

 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.add-blog-form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.add-blog-form h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #555;
}